{
  "option_settings": {
    "aws:rds:dbinstance": {
      "DBEngine": "postgres",
      "DBEngineVersion": "13.7",
      "DBInstanceClass": "db.t3.micro",
      "DBAllocatedStorage": "20",
      "MultiAZDatabase": "false"
    },
    "aws:elasticbeanstalk:application:environment": {
      "FLASK_ENV": "production",
      "DATABASE_URL": "postgresql://$(RDS_HOSTNAME):$(RDS_PORT)/$(RDS_DB_NAME)",
      "SECRET_KEY": "health-tracker-production-key-change-me"
    }
  }
}